<html>
      <head>
        <meta charset="UTF-8">
        <title>form.es.md</title>
      </head>
      <body>
        <hr>
<p>title: Contacto
form:
    name: contacto
    fields:
        -
            name: name
            label: Nombre
            placeholder: &#39;Introduce tu nombre completo...&#39;
            autofocus: &#39;on&#39;
            autocomplete: &#39;on&#39;
            type: text
            validate:
                required: true
        -
            name: email
            label: Email
            placeholder: &#39;Introduce tu email...&#39;
            type: email
            validate:
                required: true
        -
            name: message
            label: Mensaje
            placeholder: &#39;Introduce tu consulta para que podamos ayudarte..&#39;
            type: textarea
            validate:
                required: true
    buttons:
        -
            type: submit
            value: Envíar
        -
            type: reset
            value: Limpiar
    process:
        -
            email:
                subject: &#39;Electric Vehicles Contact Form {{ form.value.name|e }}&#39;
                body: &#39;{% include &#39;&#39;forms/data.html.twig&#39;&#39; %}&#39;
        -
            save:
                fileprefix: contact-
                dateformat: Ymd-His-u
                extension: txt
                body: &#39;{% include &#39;&#39;forms/data.txt.twig&#39;&#39; %}&#39;
        -
            message: &#39;Gracias, en breves nos pondremos en contacto contigo. :)&#39;
        -</p>
<pre><code>        display: thankyou
</code></pre><hr>
<h2 id="formulario-de-contacto">Formulario de contacto</h2>
<p>Si deseas contactar conmigo, puedes llamarme por teléfono al <strong>+34 617 310 033</strong> o enviarme un mensaje por medio del siguiente formulario:</p>

      </body>
    </html>