/* Vars */
/* Colors */
#logo {
  background: url(../images/logo-ev.svg) center no-repeat;
  width: 284px;
  height: 25px;
  text-indent: -9999px;
  cursor: pointer;
  transition: all 0.4s ease-in; }
  #logo:hover {
    opacity: 0.8; }

#header {
  background-image: url(../images/header-bg.svg);
  background-position: bottom center;
  background-repeat: no-repeat; }
