/* Vars */
/* Colors */
#body {
  padding-left: 0;
  padding-right: 0; }

#logo a {
  display: inline-block;
  background: url(../images/logo-ev.svg) center no-repeat;
  width: 284px;
  height: 25px;
  text-indent: -9999px;
  cursor: pointer;
  transition: all 0.4s ease-in; }
  #logo a:hover {
    opacity: 0.8; }

#header {
  background-image: url(../images/header-bg.svg);
  background-position: bottom center;
  background-repeat: no-repeat; }
  #header #navbar a,
  #header.scrolled #navbar a {
    color: #7A8A9F !important;
    text-transform: uppercase; }
  #header #navbar li.active a,
  #header.scrolled #navbar li.active a {
    opacity: 0.5; }

.section-hero {
  padding-left: 6rem;
  padding-right: 6rem;
  background: url(../images/hero-bg.jpg);
  background-size: cover;
  margin-top: -4rem;
  width: 100%;
  min-height: 480px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  .section-hero .content {
    max-width: 50%;
    padding: 0; }
    .section-hero .content > * {
      text-align: left;
      padding: 0;
      margin: 0 0 1rem;
      color: #153143; }
    .section-hero .content h1 {
      font-size: 52px; }
    .section-hero .content h2 {
      margin-top: -1.5rem;
      font-size: 27px;
      letter-spacing: 0; }
    .section-hero .content p {
      font-size: 16px; }
    .section-hero .content a {
      margin-top: 1rem;
      display: inline-block !important;
      background: white;
      background-image: linear-gradient(to right, rgba(101, 175, 0, 0.8), rgba(0, 171, 227, 0.8));
      padding: 0.6rem 1.6rem;
      border-radius: 100px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      border: 1px solid transparent;
      transition: all 2.4s ease-out; }
      .section-hero .content a:hover {
        background: transparent;
        color: #00ABE3;
        border: 1px solid #00ABE3; }

#content {
  max-width: 1400px;
  margin: 40px auto;
  padding-left: 6.5rem;
  padding-right: 6.5rem; }
  #content p {
    max-width: 55rem;
    margin: 0 auto 1rem auto; }

#footer,
#footer .totop span {
  background: #153143; }

#footer {
  background-image: url(../images/header-bg.svg);
  background-position: bottom center;
  background-repeat: no-repeat; }
  #footer p {
    color: #D0D6D9;
    font-size: 12px; }
  #footer img {
    opacity: 0.8;
    margin-right: 4rem;
    vertical-align: middle; }

#contacto {
  background: rgba(208, 214, 217, 0.2);
  border-radius: 3px;
  padding: 2rem 8%;
  max-width: 55rem;
  margin: 0 auto; }
  #contacto .buttons button:last-child {
    display: none; }
  #contacto .buttons .button {
    background: white;
    background-image: linear-gradient(to right, rgba(101, 175, 0, 0.8), rgba(0, 171, 227, 0.8));
    padding: 0.6rem 2.6rem;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 0.4s ease-in; }
    #contacto .buttons .button:hover {
      background: transparent;
      color: #00ABE3;
      border: 1px solid #00ABE3; }

.button {
  border-radius: 100px; }

#featured {
  margin-top: 40px; }
  #featured .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem; }
  #featured .box {
    background: #65AF00;
    text-align: center;
    margin: 1px;
    width: 33.33%;
    padding: 30px;
    transition: all 0.4s ease-in;
    opacity: 1;
    position: relative; }
    #featured .box.box-pictured {
      background-size: cover;
      background-position: center;
      background-color: #153143; }
    #featured .box.box-vehicles {
      background-image: url(../images/box-gradient.png), url(../images/opel-ampera-blanco.jpg); }
    #featured .box.box-human {
      background-image: url(../images/box-gradient.png), url(../images/box-human.jpg); }
    #featured .box.box-map {
      background-image: url(../images/box-gradient.png), url(../images/electromaps-bg.png);
      padding-left: 0;
      padding-right: 0; }
    #featured .box.box-vblog {
      background: #00ABE3; }
    #featured .box:hover {
      box-shadow: 0 10px 15px #D0D6D9;
      width: 40%;
      opacity: 0.85; }
    #featured .box > * {
      color: white;
      margin: 0; }
    #featured .box h3 {
      font-size: 24px; }
    #featured .box footer {
      background-color: #ECFFD3;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.6rem; }
  #featured .box-two {
    width: 66.66%;
    min-height: 290px; }
    #featured .box-two:hover {
      width: 75%; }
    #featured .box-two.box-pictured {
      background-position: left top;
      padding-left: 32%;
      text-align: left; }
    #featured .box-two .content > * {
      margin: 0; }
    #featured .box-two .cite {
      margin-bottom: 1rem;
      font-style: italic; }
    #featured .box-two .button {
      background: transparent !important;
      color: white;
      border-color: white;
      text-transform: uppercase; }

.modalbox-map {
  width: 80%;
  margin: 40px auto;
  display: none; }
