/* Vars */
/* Colors */
$green: #65AF00
$green-dark: #3D9F92
$green-blue: #5BC3A3
$blue: #00ABE3
$sky: #9FDFF4
$sky-light: #C3EBF8
$night: #153143
$grey: #7A8A9F

body


#logo a
    display: inline-block
    background: url(../images/logo-ev.svg) center no-repeat
    width: 284px
    height: 25px
    text-indent: -9999px
    cursor: pointer
    transition: all 0.4s ease-in
    &:hover
        opacity: 0.8

#header
    background-image: url(../images/header-bg.svg)
    background-position: bottom center
    background-repeat: no-repeat
    background-size:contain

    #navbar
        a
            color: $grey
            text-transform: uppercase

        li.active
            a
                opacity: 0.5